<!--<section  class="  ">-->
  <div class="container">
    <div class="feature-wrap1">
      <div #block class="row gx-2px">
        <div class="col-xl-3 feature-style2">
          <div class="feature-body">
            <div class="feature-icon">
              <div class="sub-plus"><i class="fas fa-plus"></i></div>
              <img alt="icon" src="assets/img/icon/fe-3-1.png">
            </div>
            <h3 class="feature-title">Полный спектр медицинских услуг</h3>
            <p class="feature-text">Все виды анализов. Полное фармакологическое обеспечение</p>
<!--            <a class="feature-btn" href="#"><i class="far fa-long-arrow-right"></i></a>-->
          </div>
        </div>
        <div class="col-xl-3 feature-style2">
          <div class="feature-body">
            <div class="feature-icon">
              <div class="sub-plus"><i class="fas fa-plus"></i></div>
              <img alt="icon" src="assets/img/icon/fe-3-2.png">
            </div>
            <h3 class="feature-title">Круглосуточное наблюдение</h3>
            <p class="feature-text">В клинике работает круглосуточный пост. Медсестры проводят предписанные врачом
              процедуры в круглосуточном режиме.</p>
<!--            <a class="feature-btn" href="#"><i class="far fa-long-arrow-right"></i></a>-->
          </div>
        </div>
        <div class="col-xl-3 feature-style2">
          <div class="feature-body">
            <div class="feature-icon">
              <div class="sub-plus"><i class="fas fa-plus"></i></div>
              <img alt="icon" src="assets/img/icon/fe-3-3.png">
            </div>
            <h3 class="feature-title">Внимание и забота о пациенте</h3>
            <p class="feature-text">Помочь пациентам в питании, гигиене, контроле приема препаратов. Стирка одежды и
              белья, обработка пролежней специальные медицинские кровати, противопролежневый матрас, приставные
              столики.</p>
<!--            <a class="feature-btn" href="#"><i class="far fa-long-arrow-right"></i></a>-->
          </div>
        </div>
        <div class="col-xl-3 feature-style2">
          <div class="feature-body">
            <div class="feature-icon">
              <div class="sub-plus"><i class="fas fa-plus"></i></div>
              <img alt="icon" src="assets/img/icon/Ingredients_icon-icons.com_68734.png">
            </div>
            <h3 class="feature-title"><a routerLink="/patient/raczion">Сбалансированное питание</a></h3>
            <p class="feature-text">Для каждого пациента в зависимости от его состояния и показаний мы подбираем
              специальную диету и разрабатываем для него индивидуальную программу питания.</p>
            <a class="feature-btn" href="/patient/raczion"><i class="far fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</section>-->


