<section class="vs-middle-box-wrapper space-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 mb-30 mb-lg-0">
        <div class="vs-middle-box d-md-flex text-center text-md-start bg-theme">
          <div class="media-icon mb-20 mb-md-0 mr-20">
            <img alt="Icon" src="assets/img/icons/icon-1-1.png">
          </div>
          <div class="media-body align-self-center">
            <span class="text-white fs-xs">Круглосуточный уход </span>
            <h4 class="text-white mb-0">гигиенические процедуры</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="vs-middle-box d-md-flex text-center text-md-start bg-title">
          <div class="media-icon mb-20 mb-md-0 mr-20">
            <img alt="Icon" src="assets/img/icon/icon-1-1-001.png">
          </div>
          <div class="media-body align-self-center">
            <span class="text-theme fs-xs">Выдача медикаментов</span>
            <h4 class="text-title mb-0 text-white">контроль их приема</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/bg-shape-4.png"
        style="background-image: url('assets/img/bg/bg-shape-4.png');">
  <div class="container">
    <div class="footer-top">
      <div class="row align-items-center justify-content-between">
        <div class="col-sm-6 col-md-auto text-center text-sm-start">
          <div class="footer1-logo bg-white">
            <a routerLink="/"><img alt="Стационар Новая медицина" src="assets/img/stacionar-main/logo.png"></a>
          </div>
        </div>
        <div class=" col-sm-6 col-md-auto pt-20 pt-sm-0 pb-20 pb-sm-0 text-center text-sm-end">
        </div>
      </div>
    </div>
  </div>
  <div class="widget-area">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6 col-lg-3 col-xl-3">
          <div class="widget footer-widget  ">
            <h3 class="widget_title">Наша миссия</h3>
            <div class="vs-widget-about">

              <ul class="text-list">
                <li>Репутация важнее денег!</li>

                <li>Приоритет – доверие пациентов.</li>
                <li>«Ваше сердце будет спокойно за Ваших родных и близких»</li>
              </ul>

              <div class="d-flex mt-3 pt-1">
                <div class="avater-small mr-20">
                  <img alt="Avater Image"
                       src="https://nmlikino.ru/sites/default/files/doctors/WhatsApp%20Image%202023-06-02%20at%2017.11.28%20%282%29.jpeg">
                </div>
                <div class="media-body align-self-center">
                  <h5 class="mb-0 font-body lh-1 text-white">Жигарев Антон Юрьевич</h5>
                  <span class="text-theme fs-xs lh-1">Директор</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-auto col-xl-auto">
          <div class="widget footer-widget widget_nav_menu   ">
            <h3 class="widget_title">Пациенту</h3>
            <div class="menu-all-pages-container">
              <ul class="menu">
                <li><a routerLink="/price">Цены</a></li>
                <li><a routerLink="/patient/raczion">Рацион питания</a></li>
                <li><a routerLink="/rehabilitation">Выды реабилитации</a></li>
                <li><a routerLink="/diagnos">Диагнозы</a></li>
                <li><a routerLink="/staff">Персонал</a></li>
                <li><a href="/assets/documents/politika.pdf" target="_blank" rel="noopener">Политика в отношении обработки персональных данных</a></li>
                <li><a href="/assets/documents/soglasie.pdf" target="_blank" rel="noopener">Согласие на получение рекламных и информационных материалов</a></li>
                <li><a href="/assets/documents/PROCESSING_PERSONAL_DATA.pdf" target="_blank" rel="noopener">Согласие пользователя сайта на обработку персональных данных</a></li>
                <!--                <li><a href="#">Urgent Care</a></li>-->
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 col-xl-3">
          <div class="widget footer-widget   ">
            <h3 class="widget_title">Работаем круглосуточно</h3>
            <div class="footer-table">

            </div>
            <div class="address-line">
              <i class="far fa-map-marker-alt text-theme fs-md"></i>
              <p class="text-reset fs-md">Владимирская область, посёлок Городищи, ул Больничный проезд, д 1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright bg-theme">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto text-center text-md-end">
          <p class="mb-0 text-white">Copyright <i class="fal fa-copyright"></i> Новая медицина </p>
        </div>
      </div>
    </div>
  </div>
</footer>
