<app-breadcumb [title]="'Транспорт'"></app-breadcumb>

<section class="vs-service-wrapper space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="vs-service vs-service-layout2">
          <div class="service-content">
            <h2 class="service-title h3">Транспортировка пациентов</h2>
            
            <div class="service-text">
              <p>
                Транспортировка больных людей – это отдельная услуга, на которую стоит обратить внимание, ведь перевозка особенно нетранспортабельных и лежачих людей – это немалый риск для здоровья и большая ответственность. Такие услуги оказывают наши партнеры «Санитарные перевозки» (sanperevozki.ru), оказывающие качественные услуги на комфортабельных автомобилях с 2012 года. Специализируются на транспортировках малоподвижных лежачих пассажиров на носилках и инвалидов в креслах. Служба транспортировки оснащена различными средствами переноски, в зависимости от заболевания и ситуации на вызове: мягкие носилки, медицинская каталка, кресельные-носилки, инвалидное кресло. А также достаточным количеством персонала для непосредственной переноски и перемещения лежачих больных.
              </p>
              
              <h3>Наши возможности транспортировки:</h3>
              <ul>
                <li>Специально оборудованный медицинский транспорт</li>
                <li>Квалифицированный медицинский персонал</li>
                <li>Различные средства переноски пациентов</li>
                <li>Транспортировка лежачих больных</li>
                <li>Перевозка пациентов в инвалидных креслах</li>
                <li>Круглосуточная служба транспортировки</li>
              </ul>
              
              <h3>Оборудование для транспортировки:</h3>
              <ul>
                <li>Мягкие носилки</li>
                <li>Медицинская каталка</li>
                <li>Кресельные-носилки</li>
                <li>Инвалидное кресло</li>
                <li>Специализированные автомобили</li>
              </ul>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>