<div #watch class="watch">
  <div class="container">
    <div class="row">
      <div class="h1">Чем сейчас заняты наши постояльцы</div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-lg-offset-2 col-sm-6">
        <div class="timer">
          <div class="active_time" data-end="800" data-start="700">
            <span class="time">07:00 - 08:00</span>
            <span class="desc">Подъем, водные процедуры, зарядка</span>
          </div>

          <div class="active_time" data-end="900" data-start="800">
            <span class="time">08:00 - 09:00</span>
            <span class="desc">Медицинские процедуры</span>
          </div>

          <div class="active_time" data-end="1000" data-start="900">
            <span class="time">09:00 - 10:00</span>
            <span class="desc">Завтрак</span>
          </div>

          <div class="active_time" data-end="1100" data-start="1000">
            <span class="time">10:00 - 11:00</span>
            <span class="desc">Пешие прогулки</span>
          </div>

          <div class="active_time" data-end="1130" data-start="1100">
            <span class="time">11:00 - 11:30</span>
            <span class="desc">2ой завтрак</span>
          </div>

          <div class="active_time" data-end="1330" data-start="1130">
            <span class="time">11:30 - 13:30</span>
            <span class="desc">Медицинские процедуры, свободное время</span>
          </div>

          <div class="active_time" data-end="1430" data-start="1330">
            <span class="time">13:30 - 14:30</span>
            <span class="desc">Обед</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="timer">
          <div class="active_time" data-end="1600" data-start="1430">
            <span class="time">14:30 - 16:00</span>
            <span class="desc">Тихий час</span>
          </div>

          <div class="active_time" data-end="1630" data-start="1600">
            <span class="time">16:00 - 16:30</span>
            <span class="desc">Полдник</span>
          </div>

          <div class="active_time" data-end="1800" data-start="1630">
            <span class="time">16:30 - 18:00</span>
            <span class="desc">Свободное время, процедуры</span>
          </div>

          <div class="active_time" data-end="1900" data-start="1800">
            <span class="time">18:00 - 19:00</span>
            <span class="desc">Ужин</span>
          </div>

          <div class="active_time" data-end="2130" data-start="1900">
            <span class="time">19:00 - 21:30</span>
            <span class="desc">Просмотр ТВ, игры, чтение</span>
          </div>

          <div class="active_time" data-end="2200" data-start="2130">
            <span class="time">21:30 - 22:00</span>
            <span class="desc">Медицинские процедуры</span>
          </div>
          <div class="active_time" data-end="700" data-start="2200">
            <span class="time">22:00 - 07:00</span>
            <span class="desc">Сон</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
