.watch {
  text-align: center;
  background: url(src/assets/img/promo/bg_watch.jpg) no-repeat center center; /**/
  padding-bottom: 50px;
}

.timer {
  text-align: left;
}

.time {

  min-width: 110px;
  display: inline-block;
  float: left;
  font-weight: bold;
}

.desc {
  display: inline-block;
  max-width: 65%;
}

.selected_time {
  background: #00acef;
  padding: 10px !important;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  color: #ffffff;
}

.timer > div {
  text-align: left;
  padding: 20px;
}

.selected_time:after {
  content: 'Прямо сейчас';
  text-align: center;
  position: absolute;
  background: #00dba5;
  border-radius: 15px;
  /* padding: 0px; */
  width: 130px;
  height: 24px;
  /* left: 3px; */
  top: 0;
  margin-left: -80px;
  margin-top: -15px;
}

.watch .h1 {
  margin-top: 50px;
  text-align: center;
}
