<app-breadcumb *ngIf="breadcumb" title="Диагнозы"></app-breadcumb>
<section class="appointment-wrapper ">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mb-30">
        <div class="about-content">
          <span
            class="sec-subtitle text-theme h3 mb-2 mb-sm-0">Большой опыт работы с постояльцами, имеющими диагнозы:</span>
          <h2 class="h1 mb-3">Принимаем постояльцев с диагнозами</h2>
          <div class="row">

            <div *ngFor="let diagnos_group of diagnoses_list" class="col-md-3 col-lg-3 col-xl-3">
              <div class="widget widget_categories   ">
<!--                <h3 class="widget_title">Categories</h3>-->
                <ul>
                  <li *ngFor="let diagnos of diagnos_group">
                    <a *ngIf="gorod===undefined" routerLink="/diagnos/{{diagnos.attributes.slug}}">{{diagnos.attributes.title}}</a>
                    <a *ngIf="gorod" routerLink="diagnos/{{diagnos.attributes.slug}}">{{diagnos.attributes.title}}</a>
                  </li>
                </ul>
              </div>
<!--              <ul *ngFor="let diagnos of diagnos_group" class="vs-list list-unstyled text-title">-->
<!--                <a routerLink="/diagnos/{{diagnos.attributes.slug}}">-->
<!--                  <li>{{diagnos.attributes.title}}</li>-->
<!--                </a>-->
<!--              </ul>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
