<!-- <div class="video" *ngFor="let video of personal['files']">-->
<!--   http://localhost:1337{{video['url']}}-->
<!--&lt;!&ndash;    <video controls #videoPlayer>&ndash;&gt;-->
<!--&lt;!&ndash;        <source src="http://localhost:1337{{video['url']}}" type="{{personal['files'][0]['mime']}}" />&ndash;&gt;-->
<!--&lt;!&ndash;        Browser not supported&ndash;&gt;-->
<!--&lt;!&ndash;    </video>&ndash;&gt;-->
<!--</div>-->

<app-main-slider></app-main-slider>

<app-day-timer-patient></app-day-timer-patient>


<app-registration-rules></app-registration-rules>
<!-- <app-doctor-carusel></app-doctor-carusel> -->
<div class="container">
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="tab_colored_diag">Работаем с диагнозами</span>
      </ng-template>
      <app-diagnoses-list [breadcumb]="false"></app-diagnoses-list>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="tab_colored_diag">Виды реабилитации</span>
      </ng-template>
      <app-rehabilitation [breadcumb]="false"></app-rehabilitation>
    </p-tabPanel>
  </p-tabView>
</div>
<app-gallery></app-gallery>
<app-service></app-service>

